@tailwind base;
@tailwind components;
@tailwind utilities;

colors {
     color: #333333;/* grey */
     background-color: #1f1f1f; /* Dark Grey: */
     background-color: #141414 /* - Off Black*/;
     color:  #c5f82a; /*Green:*/
}